*{
    font-family: 'Vazir', sans-serif;
    color: var(--chakra-colors-gray-800);
    /* background: rgb(248, 249, 251); */
    /* overflow: auto; */
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);
    box-sizing: border-box;
    /* overflow: hidden; */
}
h5{
    color: #000078!important;
}

/* css scroll */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
}
::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #c8befc;
  
}
::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

/* end css scroll */

.container-all{
    width: 95%;
    margin: 0 auto;
  
}
.bg-all{
    /* position: absolute; */

    display: flex;
    /* justify-content: space-between; */
    height: 80vh;
    width: 70%;
    margin: 0 auto;

    /* background-image: url('../images/Future-of-the-Internet.png'); */
}
a{
    text-decoration: none!important;
}
 ul li{
    display: inline-block;
    /* font-size: 1.5rem; */
    align-items: center;
    /* padding: 3px; */
    /* padding: 0 10px 10px 0; */
}
.logo{
    float: left;
    height: 100%;
    width: 50%;
}

.logo img{
    width: 20%;
    height: 100%;
}
.right{
    height: 100%;
    /* text-align: end; */
    text-align: right;
    white-space: nowrap;
}
.right nav{
    height: 100%;
}
.nav-right{
    width: 50%;
    /* float: right; */
    height: 100%;
    margin-left: auto;
}
.nav-right ul{
    text-align: right;
}
.nav-right ul li{
    padding: 0 0 15px 4%;
}
.nav-right ul li a svg{
   margin-right: 14%;
}
header{
    width: 100%;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    /* height: 200px; */
}
header .top-header{
    width: 100%;
    height: 40px;
    margin: 0.5% 0 0.5% 0;
    display: flex;
}
.top-header, .bottom-header ul li{
    padding: 0 10px 0 0;
}
header .top-header::after{
    border: 1px solid gray;
}
.bottom-header{
    padding-bottom: 2%;
}
a{
    text-decoration: none;
}

.css-search{
    
    flex-grow: 2;
    /* padding: 1%; */
    padding: 2% 4% 2% 4%;
    /* width: 100%; */
    background: #f3f3f3;
    /* height: 100%; */
    margin-right: 3%;
    border-radius: 4px;
}
.border-radius{
    border-radius:40px;
    color: #979797;
    background: #F7F9FA;
    font-weight: 600;
    height: 35px;
    padding: 5px 10px 5px 10px;
    font-size: 0.9rem!important;
}
.bottom-header ul{
    margin: 0;
    padding: 0;
}
.bottom-header ul li{
    /* padding: 1%; */
    /* font-size: 1.2rem; */
  
}
/* .bottom-header .center-list{
   
   text-align: center;
} */
.item-coin{
    width: 300px;
    height: 150px;
    box-shadow: rgb(0 0 0 / 5%) 0px 4px 10px 3px;
    overflow: hidden;
    margin: 1% 4% 1% 0;
    /* display: flex; */
}
.info-coin{
    padding: 5%;
}
.action-coin img{
    width: 40px!important;
}
.chart-coin img{
    width: 30px;
}
.action-coin{
    width: 50%;
    float: left;
}
.detail-coin,.detail {
    width: 100%;
}
.detail :nth-child(1){
    padding-right: 5%;
}
/* .css-ua8w78{
    align-items: center;
} */
.css-ua8w78 .chakra-stack ul li{
    padding: 0 10px 10px 0;
}
.detail .name-coin{

    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    max-width: 100px;
    color: red;
 
}
.item-coin{
    float: left;
    margin-right: 2%;
    white-space: nowrap;
}

.detail-coin :nth-child(1){
    width: 50%;
    font-weight: 600;
}
.detail-coin :nth-child(2){
    text-align: right;
    width: 50%;
    color: #2ef12e;
}
.detail-right-form{
    flex: 1;
    align-items: center;
}
.detail-right-form p{
    margin-right: 8%;
}
.name-chart{
    text-align: left;
    margin-left: 4%;
    align-items: center;
}
.name-chart :nth-child(2){
color: red;
}
.name-chart p{
    margin: 0;
    font-weight: 600;
}
.color-up{
    color: #2ef12e;
}
 /* table */
 /* Table Styles */

.table-wrapper{
    overflow: hidden;
    width: 100%;
    box-shadow: rgb(0 0 0 / 8%) 1px 1px 10px 3px;
    /* margin: 10px 70px 70px; */
    /* box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 20px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    font-weight: bold;
    /* text-align: left; */
}
.fl-table tr:hover{
    background: #e2e2e2;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    /* width: ; */
}
.fl-table thead th {
    color: #1f0875;
    font-size: 0.9rem;
    /* background: #4FC3A1; */
}


.fl-table thead th:nth-child(odd) {
    color: #1f0875;
    /* background: #324960; */
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.section-item{
    width: 100%;
    margin: 0 0 5% 0;
    overflow: hidden;
    padding: 1% 0 1% 0;
}
/* detail coin */

.titlbracum-left{
    float: left;
    align-items: center;
}
.titlbracum-right{
    float: right;
}
.titlbracum{
    overflow: hidden;
    padding: 2% 0% 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social ul{
    padding: 0;
}
.social ul li{
    margin: 1%!important;
}
.social ul .hover-social {
    position: relative;
    /* color: black; */
}

.hover-social:hover .bg-socical{
    visibility: visible;
    
}
.bg-socical{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    /* max-width: 24%; */
    padding: 11%;
    /* margin: 2%; */
    background-color: white;
    box-shadow: 0 4px 10px 3px rgb(0 0 0 / 5%);
    z-index: 11;
    color: black;
    /* width: 10rem; */
    visibility: hidden;
}
.bg-socical ul li{
    display: block;
}
/* .titlbracum-right{
    display: none;
} */
/* .titlbracum-left {
    flex: 2;
    background-color: red;
 
    height: 400px;
} */
/* .titlbracum-right{
    flex: 1;
    background-color: rgb(77, 49, 49);
    height: 400px;
} */
.detail-main{
    width: 100%;
    /* display: flex; */
    /* overflow: hidden; */
}
.detail-main-left{
    flex: 2.5;
    /* background-color: rgb(199, 193, 193); */
    /* height: 400px; */
    padding: 1%;
    /* border-radius: 4px;
    box-shadow: 0 4px 10px 3px rgb(0 0 0 / 5%); */
}
.contai-left-all{
    padding: 2%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 3px rgb(0 0 0 / 5%);
}
.feel-user{
    overflow: hidden;
    align-items: center;
    padding: 2%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 3px rgb(0 0 0 / 5%);
}
.all-question{
    float: left;
}
.icon-feel{
    float: right;
    padding: 3%;
    font-size: 1.8rem;
}
.css-1y4us2f svg{
    width: 15px;

    margin: 0 3% 0 0;
}
.css-54ai9j{
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
}
/* .css-54ai9j svg{
    width: 15px;

    margin: 0 3% 0 0;
} */
.css-1y4us2f h2{
    font-size: inherit;
    font-weight: inherit;
}
.detail-main-right{
    padding: 1%;
    flex: 1;
    /* margin-left: 1%; */
    /* background-color: rgb(201, 192, 192); */
    /* padding: 1%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 3px rgb(0 0 0 / 5%); */
    /* height: 400px; */
}
.detail-right-container{
    padding:4%;
    margin-top: 34%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 3px rgb(0 0 0 / 5%);
}
.chakra-text{
    margin-right: 9%;
}
.detail-right-coin{
    align-items: center;
    padding: var(--chakra-space-2);
    border: 1px solid gray;
    border-radius: 4px;
    border-color: #97979750;
}
.fomat-input{
    border: none;
    text-align: right;
}
.volum-all{
    margin-top: 10%;
}
.volum-all .volum-item{
    flex-grow: 4;
    margin: 2% 0 2% 0;
    /* text-align: center; */
}
.volum-tittle{
    display: flex;
    align-items: center;
    
}
.volum-tittle h2,span,p{
    font-size: 17px!important;
    margin: 0;
    
}
.about-tittle{
    display: flex;
    flex-grow: 2;
    align-items: center;
    /* padding: 1%; */
}
.feel-user .all-description p{
    font-size: 0.9rem!important;
    color: #979797;
}
.price-volum-box{
    display: flex;
    justify-content: space-between;
}
p{
    font-size: 0.9rem!important;
    color: #979797;
}
/* .detail-box-container{
    background: var(--chakra-colors-white);
    padding: 1%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 3px rgb(0 0 0 / 5%);
    margin-bottom: var(--chakra-space-5);
} */
/* tooltip */
.detail-main{
    position: relative;
}
.bg-price_change{
    /* background-color: red; */
    color: white;
    border-radius: 8px;
    padding: 2%;

}

/* animation image */
@keyframes zoomImage {
    0% {
      transform: scaleX(0);
      height:0;
    }
    80% {
      transform: scaleX(1)
    }
    100% {
      transform: scaleX(1)
    }
  }
/* end animation image */


/* tooltip animation key frame */
.tooltip-container{
    width: 450px;
    height: 500px;
    background-color: white;
    position: absolute;
    right: 21rem;
    /* left: 36%; */
    top: -10rem;
    /* border: 1px solid black; */
    align-items: center;
    padding: 0 5% 0;
    border-radius: 4px;
    z-index: 100;
    box-sizing: border-box;
    box-shadow: 0px 17px 22px 23px rgb(0 0 0 / 5%);
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growDown {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
      }
      50% {
        transform: rotateX(-20deg);
      }
      100% {
        opacity: 1;
        transform: rotateX(0deg);
      }
  }
/* tooltip animation key frame */

.arrow{
    position: absolute;
    right: 0;
    top: 53%;
    transform: rotate(90deg);
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
    width: 0;
    height: 0;
    margin: -22px;
    z-index: 10;
    
}
.spot{
    /* display: flex; */
}
.tooltip-container .tooltip-box .spot ul li{
    display: inline-block;
}

/* bootstrap custom */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #352c2c!important;
    background-color: #f1f1f1!important;

}
.dropdown-menu.show {
 
    display: flex!important;
    flex-direction: column!important;
}
.accordion-item{
    border: none!important;
}
/* .show{
    display: flex;
    flex-direction: column; 
} */
.primary-footer a{
    font-size: 14px;
}


/* Effect dropdown click animation */
.dropdown_menu-9{
    animation: growOut 300ms ease-in-out forwards;
    transform-origin: top center;
    inset: 29px auto auto 0px !important;
}
   

@keyframes growOut {
     0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}



/* End Effect dropdown click animation */

/* css block option chart */
.css-block-option{
    display: none;
}
/* css block option chart */


/* login */
.bg-all{
    position: relative;
}
.img-bg-animation{
    position: absolute;
    left:0;
    right: 0;
    width: 100%;
  

}
.bg-animation{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #18171794;

}
.loading-animation{
    position: absolute;
    left: 50%;
    top: 50%;
}
.img-bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-container{
    /* position: absolute; */
    width: 100%;
  
 
}
.login-animation{
   opacity: 0;
    transition: 0.2s;
    width: 0;

}
.container_all_pass{
    display: flex;
    position: relative;
    align-items: center;
}
.show_pass{
    position: absolute;
    right: 0;
    /* top: 50%; */
}

/* animation css example */
/* .animation{
 
     animation: growDownx 600ms ease-in-out forwards;
     transform-origin: left center; chuyển động từ phải sang trái
 } */
/* @keyframes growDownx {
    100% {
      transform: scaleX(0);

    }
    80% {
      transform: scaleX(1.1)
    }
    60% {
      transform: scaleX(1);

    }
    0% {
        transform: scaleX(1);
 

      }
  } */

.login-container h5{
    /* background: #93d2ff; */
    padding-left: 2%;
    border-radius: 4px;
    text-align: center;
    color: rgb(100, 100, 100);
}
.ranger-verify{
    /* height: 2.4rem; */
    border-radius: 5px;
    overflow: hidden;
    padding: 1%;
    /* animation: slider 3s ease-in-out forwards; */
    color:#fff;
}
.check-verify{
    width: 2rem;
    height: 100%;
    background: rgb(233, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
}

/* active-verity */
.active-verity {
     animation: slider 1.5s ease-in-out forwards;
  
}

 @keyframes slider {
    0% {
        background-color: red;
        width: 0%;
      } 
     
      50% {
        background-color: rgb(208, 255, 0);
        width: 100%;
      } 
      100% {
        background-color: rgb(0, 255, 42);
        width: 100%;
      } 
      
}


/* / disfferent css */

.ml-3{
    margin-left: 1.5rem;
}

/* end disfferent css */


/* wallet page */

.hover-wallet{
    position: relative;
}
/* .cc :hover .ok{
    opacity: 1;
}
.ok{
    opacity: 0;
} */
.wallet:hover .hover-wallet{
    position: absolute;
    display: block;
    width: 18%;
    height: 300px;
    background-color: rgb(90, 90, 90);
    padding: 1%;
    border-radius: 3px;
    z-index: 2;
    animation: downOut 300ms ease-in-out forwards;
    transform-origin: center center


}
@keyframes downOut {
    0% {
       transform: translateZ(200px) transLateY(40px)
   }
   80% {
       transform: translateZ(-10px) transLateY(0px)
   }
   100% {
       transform: translateZ(0px) transLateY(0px)
   }
}


.wallet:hover .hover-wallet a{
  color: white;

}
.hover-wallet{
    position: absolute;
   display: none;
    width: 18%;
    height: 300px;
    /* background-color: rgb(245, 245, 245); */
    padding: 1%;
    border-radius: 3px;
    z-index: 2;
    color: white;
}
/* .hover-wallet a{
    width: 100%;
} */
.custom-wallet-menu {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 3%;
}

.wallet-container{
    width: 100%;
    /* background-color: red; */
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
   
}
.earn-box-all{
    align-items: center;
padding-left: 1%;

white-space: nowrap;
}
.earn-box-container{
    display: flex;
}
.wallet-container .earn,.price-all-wallet,.table-wallet {
    background-color: #ffffff;
    margin-bottom: 2%;
    box-shadow: 0px 0px 10px 0 rgb(103 151 255 / 11%), 0px 0px 0px 0 rgb(103 151 255 / 11);
    width: 100%;
    /* height: 100px; */
}
.price-all-box{
    flex-grow: 4;
    /* text-align: center; */
}
.price-box{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.price-box p{
    font-size: 1.3rem!important;
    margin-right: 2%;
}
.price-all-container{
    /* padding: 2%; */
    margin: 2%;
}
.earn{
    margin-top: 1%;
}
.earn-left{
    /* flex-grow: ; */
    /* background-color: #8070d4; */
    /* flex: 1 1; */
}
.earn-middle{
    box-sizing: border-box;
    min-width: 0px;
    width: 1px;
    flex: 0 0 auto;
    margin: 0px 24px;
    height: 56px;
    background-color: rgb(151, 151, 151);
}



.earn-right{
    flex-grow: 2;
    /* background-color: #2db8f0; */
    /* flex: 2 2; */
}
.earn-right .earn-right-active{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
}
.earn-right .earn-right-active a{
    padding-right: 10%;
}
/* .custom-wallet-menu svg{
    margin-right: 1%;
} */



/* profile */
.zoom-container{
    position: fixed;
    top: 0;
    scrollbar-width: none;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    background-color: #0000008f;
}
.zoom-container::-webkit-scrollbar {
    display: none;
}
/* .zoom-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0fc4;
} */
.zoom-img{
    position: absolute;
    top: 20%;
    right: 0;
    margin: 0 auto;
    left: 0;
    z-index: 1000;
    width: 60%;
    height: 30rem;
    animation: zoomImage 400ms ease-in-out forwards;
    transform-origin: top center; /*chuyển động từ phải sang trái*/
    
    /* height: 20rem; */
}
.zoom-img-road_map{
    position: absolute;
    top: 20%;
    right: 0;
    margin: 0 auto;
    left: 0;
    z-index: 1000;
    width: 60%;
    height: 30rem;
    animation: zoomImage 400ms ease-in-out forwards;
    transform-origin: top center; /*chuyển động từ phải sang trái*/
    
    /* height: 20rem; */
}
.zoom-img-road_map img{
    width: 40rem;
}
.zoom-img-road_map svg{
    position: absolute;
    right: 3rem;
}
@keyframes growDownx {
    0% {
      transform: scaleX(0);

    }
    60% {
      transform: scaleX(1.1)
    }
    80% {
      transform: scaleX(1);

    }
    100% {
        transform: scaleX(1);
 

      }
  } 
.zoom-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.profile-container{
    width: 90%;
    margin: 0 auto;
}
.profile-header{
    width: 100%;
    height: 15rem;
    position: relative;
}
.profile-header .profile-header-container{
    height: 100%;
    width: 100%;
    /* position: relative; */
}
.profile-header .profile-header-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


 /* tooltip profile */
 .tooltip-profile {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip-profile .tooltiptext {
    /* visibility: hidden; */
    width: 20rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 70%;
    position: absolute;
    z-index: 1;
    top: -24%;
    left: 2rem;
    animation: myfirst 0.5s linear 1s infinite alternate;
  }
  @keyframes myfirst {
    0%   {left:2rem; top:0px;}
    100%  {left:5rem; top:0px;}
  
  }
  .tooltip-profile .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  /* .tooltip-profile:hover .tooltiptext {
    visibility: visible;
  } */
 /* end tooltip profile */


/* .profile-header:hover img{
    transform: rotate(
        10deg
        ) scale(1.9);
            transition: 0.5s;
} */
.profile-header .profile-header-container svg{
    position: absolute;
    top: 45%;
    font-size: 4rem;
    left: 48%;
    color: white;
    display: none;
}
.profile-header:hover svg{
display: block;
}
.profile-header:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0fc4;
}
.goals{
    position: relative;
}
.goals svg{
    position: absolute;
    top: 50%;
    left: 48%;
color: white;
    display: none;
}
.goals:hover svg{
    font-size: 3rem;
    display: block;
}
.goals:hover:before{
    content: "";
    position: absolute;
 right: 0;
 left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0fc4;
}
.profile-main-all{
    /* margin-left: 10%; */
}
.profile-main .profile-avatar{
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 18rem;
    /* left: 10%; */
    border-radius: 50% 50%;
}
.profile-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-main-top{
    display: flex;
    /* align-items: center; */
    margin-top: 10%;
    justify-content: space-between;
}
.profile-main-top-infor{
    /* margin-right: 20%; */
    /* margin-top: 10%; */
}
.profile-main-bottom{
    box-shadow: rgb(0 0 0 / 2%) 0px 4px 8px 3px;
    padding: 2% 1%;
    display: flex;
}
.profile-goals{
   margin-right: 5%;
}
.profile-goals-img{
    width: 60rem;

}
.profile-experience{
    margin-left: 5%;
}
.profile-experience-img{
    width: 50%;
    height: 10rem;
  

}
.profile-experience-img img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
    object-fit: contain;

}
.profile-goals-img img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
    object-fit: cover;
    
}
.profile-goals-container{
    width: 100%;
  
   /* height: 10rem; */
}
.profile-goals-all{
    width: 100%;
   display: flex;
  
}
.profile-goals-time{
    width: 60%;
    margin-right: 5%;
}
.profile-kill{
    width: 50%;
}
.profile-interest{
    width: 50%;
}
.profile-interest-item ul li{
    display: block;
}
/* end profile */

.customDropdown li{
    width: 100%;
    padding: 0 0 15px 0!important;
    /* padding: 10%; */
}

.flex-box{
    display: flex;
    align-items: center;
}
.custom-bg-icon{
  width: 3rem;
}
.custom-bg-icon svg{
    color: black;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    font-size: 2.4rem;
    /* bottom: 0; */
    border-width: 3px;
    border-style: solid;
    border-color: rgb(147 155 255);
    border-image: initial;
    border-radius: 50% 50% 50% 50%;
    padding: 6% 9% 6% 9%;
}


/* list info */
.list-info ul{
padding: 0;
font-size: 0.9rem;
font-weight: 400;
}
.list-info ul li{
display: block;
white-space: nowrap;
margin-bottom: 1%;
}
.list-info ul li svg{
    color: #3f884f;
    font-size: 1.2rem;
    /* padding: 5%; */
    margin-right: 3%;
}
/* end list info */


/* verify user */
.Identity{
    border-radius: 6px;
    background-color: #ffffff;
    margin-bottom: 1%;
    box-shadow: 0px 0px 10px 0 rgb(103 151 255 / 11%), 0px 0px 0px 0 rgb(103 151 255);
    width: 100%;
}


/* top trendding */
.trendding{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 2rem;
    box-shadow:rgb(0 0 0 / 5%) 0px 4px 10px 3px;
    background-color: #f8f8f8;
}
.trendding-img{
    border-radius: 50%;
    margin-right: 0.5rem;
}
 /*end top trendding */ 
   
    
/* animation hover btn kyc */
.animation-btn:hover{
        cursor: pointer
    }
    .animation-btn {
      
      position: relative;

      padding: 9px 18px;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    /*button:before (attr data-hover)*/
    .animation-btn:hover:before{
        opacity: 1; 
        transform: translate(0,0);
    }
    .animation-btn:before{
      content: attr(data-hover);
      position: absolute;
      top: 0.8em; 

      left: 0;
      width: 100%;
      /* text-transform: uppercase; */
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      .animation-btn:hover div{
          opacity: 0;
           transform: translate(100%,0)
        }
      .animation-btn div{
        /* text-transform: uppercase; */
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }
      .photo-button {
        width: 60px;
        height: 60px;
        top: 53%;
        left: 96%;
        margin-top: -50px;
        margin-left: -50px;
        position: absolute;
      }
      .circle {
        position: absolute;
        top: 12%;
        left: 12%;
        bottom: 12%;
        right: 12%;
        border-radius: 100%;
        background-color: #ffffff;
        opacity: 0;
      }
      .ring {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        border-radius: 100%;
        border: 0.5em solid #ffffff;
        opacity: 0.8;
      }
      .photo-button .circle, .photo-button .ring {
        transition: all 0.25s;
      }
      .photo-button:hover .circle {
        opacity: 1;
      }
      .photo-button:active .ring {
        opacity: 1;
      }
      .photo-button:active .circle {
        opacity: 0.5;
      }

/* end animation hover btn kyc */

/* loading */
.bg-loading::before{
    content: "";
    /* background: #2ef12e; */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1ace;
}

/* end loading */


/* upload photo */
.bg-uploadphoto{
    width: 50%;
    border-radius: 5px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    border: 1px  rgb(180, 180, 180);
    padding: 6%;
    box-shadow: 0px 0px 10px 0 rgb(103 151 255 / 11%), 0px 0px 0px 0 rgb(103 151 255);
}
.image-item{
    position: relative;
}
.image-item__btn-wrapper{
    position: absolute;
    top: 0;
    right: 22%;
    background: #ffffff;
    border-radius: 5px;
    padding: 1%;
}
.icon-upload{
    background: rgb(7, 250, 68);
    border-radius: 50px;
    color: rgb(24, 11, 11);
    margin: 1%;
}
/* end upload photo */

/* SMS VERIFY */
.sms-form {
    text-align: left;
    padding: 1em;
  }
  .sms-form label {
    display: block;
  }
  .sms-form input,
  .sms-form textarea {
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  .sms-form div {
    margin-bottom: 0.5em;
  }
  .sms-form button {
    font-size: 1em;
    width: 100%;
  }
  .sms-form.error {
    outline: 2px solid #f00;
  }
/* END SMS VERIFY */
a{
    cursor: pointer;
}
/* BORDER ACTIVE TAB WALLET */
.border-active{
    border-bottom: 2px solid blue;
}


 /* list comment */
 .item-comment-repply ul {
     padding: 0;
 }
 .item-comment-repply ul li {
     padding-right: 2%;
 }
 .showAllComment{
     font-size: 0.9rem;
 }
 /* list comment */


/*END  BORDER ACTIVE TAB WALLET */



/* ARROW BORDER */
.arrow-Border{
    display: inline-block;
	position: relative;
    background-color: #ffc107!important;
}


	

.arrow-Border:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -19px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 22px solid #ffc107;
}

.arrow-Border-right{
    display: inline-block;
	position: relative;
    background-color: #ffc107!important;
}


	

.arrow-Border-right:after {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -19px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 22px solid #ffc107;
}

/* END ARROW BORDER */


/* CSS LOADING DETAIL-COIN */

.loadingDetail{
    position: absolute;
    top: 50%;
    left: 50%;
}

/* END CSS LOADING DETAIL-COIN */


/* SEARCH UL */
/* .divUlsearch{
    min-width: 20rem; 
    background-color: red; 
    max-height: 90vh;
} */
/* END SEARCH UL */




/* SEARCH COIN */
.search-container{
    width: 100%;
    display: flex;
}
.search-item{
    width: 10%;
    flex: 1;
}
.divSearch{
    display: block;
    position: absolute; 
    background: rgb(247, 249, 250);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 8%) 1px 1px 10px 3px;
     top: 0%;
     left: 56%;
 
 
     z-index: 12;
     animation: cc 300ms ease-in-out forwards;
  /* transform-origin: top center */
}
.divSearch ul{
    display: flex;
    flex-direction: column;
    padding: 3%;
    /* align-items: center; */
    background: rgb(255, 255, 255);
    text-align: left;
    min-width: 22rem; 



    /* background-color: red;  */
    max-height: 80vh;
    overflow-y: scroll;
}
.trending-search{
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 3%;
}
.divSearch ul li{
    padding: 0 0 15px 0%;
}
.divSearch ul li a:hover{
    background: #f6f6f6;
}
.search-container input{
    outline: none;
    border: none;
    flex: 20;
}

@keyframes cc {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
      }
      50% {
        transform: rotateX(-20deg);
      }
      100% {
        opacity: 1;
        transform: rotateX(0deg);
      }
  }

/*  END SEARCH COIN */

/* access img */
.access-img{
    width: 100%;
    /* position: absolute;
    bottom: 10%;
    left: 40%; */

}
.container-kyc .tab-kyc ul li{
    padding-right: 2%;
}


/* popup event kyc */
.popup-event{
 
  /* position: fixed;  */
  /* overflow-x: hidden; */
  position: absolute;
  z-index: 122; /* Sit on top */
  padding-top: 10%; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0 0 0 / 70%)
}
.popup-container{
    background-color: #fefefe;
  margin: auto;

  /* border: 1px solid #888; */
  width: 50%;
  position: relative;
  /* border-radius: 4px; */
}
.popup-container img{
    width: 100%;
    height: 100%;
}
.close-btn{
    position: absolute;
    top: 5%;
    right: 2%;
    color: white;
}
/*end popup event kyc */





/* coundownTimeEvent */

.coundown .time{
    display:flex;
}
.coundown .time div{
    position: relative;
    margin: 0 5px;
}
.coundown .time div span{
    position: relative;
    display:block;
    width:140px;
    height: 100px;
    background: #2196f3;
    color: #fff;
    font-weight: 300;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem!important;
    z-index:3;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}
.coundown .time span:nth-child(2){
    height: 65px;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    z-index: 2;
    box-shadow: none;
    background:#127fd6;
    text-transform: uppercase;
}
.coundown .time div:last-child span {
    background: #ff006a;
}
.coundown .time div:last-child span:nth-child(2) {
    background: #ec0062;
}


/* end coundownTimeEvent */

/* alert swap coin success */
.quote{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: -250px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: -1;
    visibility: hidden;
}

/* end alert swap coin success */


/* dot option reponsive */
.dot-option{
    display: none;
}
.tooltip-dot-option{
    position: absolute;
    top: 7rem;
    right: 5%;
    background: #f8f8f8;
    box-shadow: rgb(0 0 0 / 9%) 0px 4px 10px 3px;
    padding: 3%;
    z-index: 100;
}
/* end dot option reponsive */



/* error input */
.errorInput{
    /* border: 1px solid rgb(255, 92, 43); */
    color: #ff9900;
    padding: 2%;
    border-radius: 4px;
    background-color: rgb(255 221 219);
    margin: 2% 0 2% 0;
    display: flex;
    align-items: center;
    position: relative;
}
.errorInput::before{
    content: "";
    position: absolute;
    right: 50px;
    top: -9px;
    border-bottom: 9px solid rgb(255 221 219);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.errorInput p{
    color: rgb(255, 0, 0);
}
/* end error input */


/* action token */
.action_token{
    padding: 1% 5% 1% 5%;
    border-radius: 2px;
    display: flex;
    margin: 0 4% 0 0;
    text-align: center;
    border: 1px solid #eaeaea;
}
.action_token a{
 
    color: rgb(19, 15, 15)!important;
   
}
/* end action token */


/* catelogies */
.catelogies{
    position: absolute;
    z-index: 12;
    display: flex;
    display: none;
    flex-flow: column nowrap;
    background-color: rgb(255 255 255);
    left: 10%;
    border-radius: 4px;
    max-width: 760px;
    width: 100vw;
    max-height: 450px;
    box-shadow: rgb(0 0 0 / 5%) 0px 4px 10px 3px;
    padding: 1%;
    overflow-y: auto;
}
.presently{

    display: block;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}
.presently ul li{
    width: 33%;
    padding: 1%;
}
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}
/*end catelogies */
.bar-menu{
    display: none;
}
.bar-reponsive{

       
        width: 100%;
        height: 400px;
        position: absolute;
        left: 0;
        z-index: 100;
        top: 0;
        bottom: 0;
        animation: rotateY 300ms ease-in-out forwards;
        transform-origin: top center;
        background-color: white;
        
}
@keyframes rotateY {
    0% {
       transform: rotateY(90deg)
   }
   80% {
       transform: rotateY(-10deg)
   }
   100% {
       transform: rotateY(0)
   }
}
.bar-reponsive ul{
    padding: 0;
}
.bar-reponsive ul li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5%;
}
.option-auth{
    padding: 1rem 1.25rem;

}
.option-logo{
    padding: 1rem 1.25rem;
    display: flex;
align-items: center;
justify-content: space-between;
}


/* not found 404 */
.not-found{
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
}
.not-found-text{
    margin-top: 10%;
}
.btn-not-found{
    height: 2.5em;
    padding: 0.5em 1.25em 0.5em 1.25em;
    font-size: 1em;
    font-weight: bold;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #696666;
    background-size: 54px 204px;
    border-radius: 2em;
    border: 0.15em solid #F9C23C;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: none;
  }

  /* end not found 404 */
/* Responsive */

@media (max-width: 1024px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table tbody::-webkit-scrollbar {
        width: 0 !important;
        display: none; 
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        /* width: 120px; */
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table td::-webkit-scrollbar {
        width: 0 !important;
        display: none; 
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
@media (max-width: 414px) {
    *{
        /* font-size: 0.9rem!important; */
        box-sizing: border-box;
     
    }
    .swiper-container {
      padding: 2%;
    }
    .item-coin{
        width: 100%;
    }
    .popup-container{
        width: 95%;
    }
    
    /* css scroll */
    /* ẩn thanh scroll bar nhưng vẫn scroll dc */
    .earn-box-bottom ul::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
      }
 
    .bar-menu{
        display: block;
        height: 100%;
        font-size: 2.5rem;
    }
.wallet,.css-search, .handle-auth{
    display: none;
}
/* .css-search{
    display: none;
} */
.dropdown, .css-ua8w78{
    display: none!important;
}
.right{
    display: flex;
    padding: 1%;
    justify-content: space-between;
}
.catelogies{
    display: flex;
    flex-direction: column;
    width: 80vw;
    /* display: none; */
}
/* .catelogies ul li{

} */
.presently ul li{
    width: 100%;
    padding: 2%;
}
/* .handle-auth{
    display: none;
} */
.divSearch{
    width: 100%;
    position: absolute;
    left: 0;
}
.volum-all{
display: flex;
flex-direction: column;
}
.contai-left-all{
    max-width: 387px;
}
.detail-main .detail-item{
    flex-direction: column;
}
.news{
    flex-direction: column;
}
/* .css-ua8w78{
    display: none!important;
} */
.css-block-option{
    display: block;
}
.css-block-option ul{
    padding: 2%;
    border: 2px solid #d5eaff;
    margin-top: 2%;
    border-radius: 4px;
}
.css-block-option ul li{
    padding: 2%;
}
/* .value-chart{
    border: 2px solid blue;
} */
/* .titlbracum{
    display: flex;
    flex-direction: column;
} */
.tooltip-container{
    width: 95%;
    left: 0;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    top: 10%;
    /* z-index: 100; */
    right: 0;
}
.arrow{
    position: absolute;
    
    transform: rotate(
0deg
);
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
    top: 2%;
    left: 50%;
    display: none;
}
.bar-reponsive ul li {
padding: 0;
    /* padding: 5%; */
}
.earn-box-bottom ul{
    display: flex;
    /* max-width: 702rem; */
    flex-direction: row;
    overflow-x: scroll;
}
.earn-box-bottom ul li{
    min-width: 8rem;
    text-align: center;
    white-space: nowrap;
}
.price-all-wallet{
    width: 100%;
  
    overflow: scroll;
}
.price-all-wallet::-webkit-scrollbar{
    width: 0 !important;
    display: none; 
}
.price-all-container{
    width: 50rem;
}
.table-wallet{
    overflow: scroll;
}
.table-wallet::-webkit-scrollbar{
    width: 0 !important;
    display: none; 
}
.tbody, td, tfoot, th{
    min-width: 8rem;
    white-space: nowrap;
    text-align: center;
    font-size: 0.9rem;
}
    /* end css scroll */
    .earn-box-container{
        min-width: 33rem;
    }
    .earn-box-all{
        overflow: scroll;
        white-space: nowrap;
    }
    .earn-box-all::-webkit-scrollbar{
        width: 0 !important;
        display: none; 
    }
    .coundown{
        overflow: scroll;
    }
    .coundown::-webkit-scrollbar{
        width: 0 !important;
        display: none; 
    }
    .container-kyc .tab-kyc ul{
       padding: 0;
    }
    .container-kyc .tab-kyc ul li {
        padding-right: 3%;
    }
    .dot-option{
        display: block;
    }
    .add-watch-list{
        display: none;
    }
    .not-found{
        width: 90%;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction:column ;
    }
    .not-found-text{
        text-align: center;
    }
    .detail-right-container{
        margin: 0!important;
    }
    .bg-all{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .profile-container{
        overflow: hidden;
        width: 100%;
    }
    .profile-main .profile-avatar {
        
        top: 16rem;
        left: 24%;

    }
    .profile-main-top-infor {
        /* margin-right: 20%; */
        margin-top: 20%;
    }
    .profile-main-top-infor .infor-items{
        justify-content: center;
    }
    .list-info ul li {
 
        white-space: normal;
    }
    .profile-main-top {
     flex-direction: column;
    }
    .profile-main-bottom {
     flex-direction: column;
    }
    /* .profile-goals-img {
        width: 100%;
    } */
    /* .profile-goals-time{
        width: 100%;
    } */
    .profile-interest, .profile-kill, .profile-goals-time, .profile-goals-img {
    width: 100%;
    /* position: relative; */
    }
    .profile-goals-time-container{
        flex-direction: column;
    }
    .list-info{
        margin-top: 4%;
    }
    .zoom-img {
        
        width: 90%;
        height: 23rem;
     
        /* height: 20rem; */
    }
    .profile-interest .profile-interest-item ul li{
        display: block;
    }
  }